{% extends 'base.html' %}
{% block content %}
    <h1>НАШІ КОНТАКТИ</h1>
            <div class="contact-block">
            <h3 class="contact-heading">Чекаємо на вас:</h3>
            <p class="contact-info">📍 м. Луцьк, вул. Лесі Українки, 15</p>

            <h3 class="contact-heading">Забронювати столик:</h3>
            <p class="contact-info">📞 +38 (050) 123-45-67</p>

            <h3 class="contact-heading">Графік роботи:</h3>
            <p class="contact-info">🕰 Пн - Пт: 10:00 — 23:00, Сб - Нд: 11:00 — 01:00</p>
        </div>
    </div>
{% endblock %}