{% extends 'base.html' %}
{% block title %}Послуги - Level Up Rest{% endblock %}

{% block content %}
    <h1>НАШІ ПОСЛУГИ</h1>
    
    <div class="services-list">
        {% for service in services %}
        <div class="service-card">
            {% if service.image %}
                <img src="{{ service.image.url }}" class="service-img" alt="{{ service.title }}">
            {% endif %}
            <h2 class="service-title">{{ service.title }}</h2>
            <p class="service-desc">{{ service.details }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="contact-block service-request-container">
        <h3 class="contact-heading">ЗАМОВИТИ ПОСЛУГУ</h3>
        <p class="hero-subtitle">Залиште номер, і ми зв'яжемося з вами:</p>
        <form method="post" action="{% url 'service_request' %}" class="service-form-stack">
            {% csrf_token %}
            
            <div class="form-group">
                <p class="form-label">Оберіть послугу:</p>
                <select name="service_name" class="service-select-custom">
                    {% for s in services %}
                        <option value="{{ s.title }}">{{ s.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <p class="form-label">Ваш номер телефону:</p>
                <input type="tel" name="phone" 
                       placeholder="+380XXXXXXXXX" 
                       pattern="^\+380\d{9}$" 
                       title="Формат: +380 та 9 цифр"
                       class="newsletter-input full-width" required>
            </div>

            <button type="submit" class="btn-buy full-width btn-service-submit">
                ЗАМОВИТИ ДЗВІНОК
            </button>
        </form>
    </div>
{% endblock %}