{% extends 'base.html' %}
{% block title %}Успіх - Level Up Rest{% endblock %}

{% block content %}
<div class="contact-block checkout-form-container text-center">
    <h1 class="cart-title">ПАРОЛЬ ЗМІНЕНО!</h1>
    
    <div class="auth-centered-container">
        <p class="hero-subtitle mb-40">
            Ваш пароль успішно оновлено. Тепер ви можете увійти до системи, використовуючи свій логін та новий пароль.
        </p>
        
        <a href="{% url 'login' %}" class="btn-buy full-width link-btn-block">ПЕРЕЙТИ ДО ВХОДУ</a>
    </div>
</div>
{% endblock %}